<h2 class="text-center mt-4 mb-2">Create a new category </h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render "form"%>
    </div>
    <%= link_to '[ Cancel and return to categories listing ]', categories_path, class: "text-info text-center" %>
  </div>
</div>
